# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.log

# Virtual environment
venv/
.env/
.env

# Data and models
data/
models/
checkpoints/
outputs/
*.h5
*.pt
*.pth

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
*.bak
